name: Dexcom Montior

on:
  workflow_dispatch:
  schedule:
    - cron: '42 * * * *'

jobs:
  cancel:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: RutherfordPrimeMeats/workflow-run-cleanup-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  monitor:
    runs-on: ubuntu-latest
    needs: [cancel]

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Run Monitor
      env:
        TZ: America/New_York
        DISPLAY_NAME: "Joe's"
        DEXCOM_USERNAME: ${{ secrets.DEXCOM_USERNAME }}
        DEXCOM_PASSWORD: ${{ secrets.DEXCOM_PASSWORD }}
        NOTIFICATION_URI: ${{ secrets.NOTIFICATION_URI }}
      run: |
        python -m venv env
        source env/bin/activate
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python alert.py
